body {
    /*Background*/
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /*opacity: 0.4;*/
    
}
/*Navigation*/
ul {
    /*Settings for the navigation Block*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    /*TextAttributes*/
    display: block;
    color: white;
    font-size: 115%;
    font-weight:bold;
}
li {/*position the navigation to the left*/
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    color: white;
    background-color: #111;
}
.active {
    /*Active Page will be grey*/
    background-color: grey;
}

/*Header*/
h1 {
    color: orange;
    margin-left: 15px;
}

p{
    color: #111
}

